<html>
    <head>
        <title> Flow Cytometry Sample Webapp</title>
        <link rel="stylesheet" href="C:\Users\Zuhayr\Documents\GitHub\Flow-Cytometry-\templates\style.css">
        <script src="animator.js"></script>
    </head>
    <body>
        <div class="opening">
            <div class = "content">
                <div class ="navbar">
                    <img src="images/logo.png" class="logo">
                    <name>This is harder than rocket science!</name>
                    <button type="button">PCA</button>
                </div>
                <small_text>This is harder than rocket science!</small_text>
                <img src="temporary_images/actual_plot.jpeg" class="plot">
                
                <!--<form action="test.html" >  
                    <button type="submit">Click</button> 
                </form> -->
            </div>
        </div>
    </body>
</html>